$color: #eee;
body {
  background-color: $color;
}
img {
  -webkit-user-drag: none;
}

// home page style
.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.content {
  padding: 20px;
  width: 1000px;
  background: rgba(255, 255, 255, 0.3);
}

.contentTitle {
  font-size: 35px;
  font-weight: bold;
}

.contentInner {
  padding-top: 30px;
}

.subTitle {
  height: 100%;
  display: flex;
  align-items: center;
}

.inputContent {
  width: 60%;
}

.result {
  height: 100%;
  display: flex;
  align-items: center;
}

.operation_button {
  width: 80px;
}
